@import './font.css';

.contact {
    padding: 40px;
    text-align: left;
    color: white;
    background: #010032;
    font-family: 'Epilogue';
    p {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 60px;
    }
    .contact__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
            color: white;
         }
        .contact__column {
            display: flex;
            flex-direction: column;
            a {
                margin: 5px;
                text-decoration: none;
            }
        }
    }
}